/* import google font */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Merriweather|Muli&display=swap');

/* Font size of the body */
body {
    font-family: "Muli", sans-serif;
}

/* Background image */
.belief {
    background-image: url("images/belief.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.belief > p {
    font-size: 3em;
    font-family: "Dancing Script", sans-serif;
    text-align: left;
    margin-left: 20px;
    padding-top: 200px;
}

/* Content */
h1 {
    text-align: center;
    margin-top: 60px;
    font-family: "Merriweather", sans-serif;
}

/* To create a line around the text if viewport is >1000px */
@media (min-width: 850px) {
    h1::before, h1::after {
        background-color: black;
        content:"";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 5%;
    }
    
    h1::before {
        right: 0.5em;
        margin-left: -50%;
    }
    
    h1::after {
        left: 0.5em;
        margin-right: -50%;
    }
}

/* To create a bottom line following the text if viewport is <1000px */
@media (max-width: 849px) {
    h1::after {
        background-color: black;
        content:"";
        display: block;
        height: 2px;
        position: relative;
        margin-top: 5px;
        width: 30%;
        left: 35%;
    }
}

/* List of strengths */
.container-fluid {
    text-align: center;
}

.strengths {
    display: inline-block;
    margin-top: 30px;
}

.strengths > li {
    text-align: left;
    font-size: 1.2em;
    padding: 5px 0;
}

#more-info p {
    margin-top: 30px;
    color: #900C3F;
}

#more-info p a {
    text-decoration: none;
}

/* Link to homepage */
.homepage {
    margin: 30px auto;
    font-family: "Merriweather", sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.homepage:hover > button > a {
    color: white;
}

.homepage a {
    text-decoration: none;
}

/* Footer */
#copyright {
    font-size: 1em;
    text-align: center;
}