/* import google font */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Merriweather|Muli&display=swap');

/* Font size of the body */
body {
    font-family: "Muli", sans-serif;
}

.hobby {
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
}

/* Background image */
.sunshine {
    background-image: url("images/sun.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 250px;
}

.sunshine > p {
    font-size: 3em;
    font-family: "Dancing Script", sans-serif;
    text-align: right;
    margin-right: 20px;
    padding-top: 100px;
}

.highlight{
    color: #F29A5A;
}

/* Image collection */
.collection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.project-image {
    transition: filter 0.3s ease-in-out;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.project-image:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); 
}

/* Set different display layout depending on viewport width */
@media (min-width: 890px) {
    .project-image {
        object-fit: cover;
        width: 25%;
        height: 220px;
    }
}

@media (min-width: 680px) and (max-width: 889px) {
    .project-image {
        object-fit: cover;
        width: 33.33%;
        height: 220px;
    }
}

@media (max-width: 679px) {
    .project-image {
        object-fit: cover;
        width: 50%;
        height: 220px;
    }
}

/* Link to homepage */
.homepage {
    margin: 30px auto;
    font-family: "Merriweather", sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.homepage:hover > button > a {
    color: white;
}

.homepage a {
    text-decoration: none;
}

/* Footer */
#copyright {
    font-size: 1em;
    text-align: center;
}